parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\.+\\Ide\\AutoCompletion.#'

