@mixin unzer-unzer-credit-card($name: '.unzer-credit-card') {
    #{$name} {

        .heidelpayUI {
            display: block;
            width: 100%;
            height: 2rem;

            &.error.message {
                display: none;
                height: auto;
                color: map-get($setting-color-actions, alert);
            }
        }

        .heidelpayUIIframe {
            width: 100%;
            height: 2rem;
        }

        @content;
    }
}

@include unzer-unzer-credit-card;
